*{
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: $textXl;
}
h2{
    font-size: $textLg;
}
h3{
    font-size: $textMd;
}


/* header */
header img{
    width: 100%;
    height: 300px;
    object-fit: cover;
} 
/* end header */

/* botton buscar */
.btnBuscar{
    background-color:$secondaryColor;
    color: $thirdColor;
}

body{
    background-color: $mainColor;
}

.btn-colorBase{
    background-color: $mainColor;
    color: $secondaryColor;
}

.bg-colorBase{
    color: $mainColor 
}
.bold{
    font-weight: bold;
}

.d-flex{
    display: flex;
}


.contenedor{
    width: 90%;
    height:auto;
    background-color: rgba(255, 255, 255,.5);
    margin: 20px auto;
    padding: 10px 50px;
    border: solid 1px $thirdColor;
    overflow-y: auto; 
}

.contenedor-secondary{
    @extend .contenedor;
    padding: 10px 40px;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.bordeNegro{
    border-color: $thirdColor;
    border-width: 1px;
    border-style: solid;
}

p{
    @include textos(1.4em,1.4em,$thirdColor,1em)
}

.card p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}