footer{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $mainColor;
    padding: 10px;
    flex-direction: column;
    border-top: 3px solid $thirdColor;
    svg{
        fill: $secondaryColor;
        width: 40px;
        margin-right: 20px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    a{
        text-decoration: none;
        display: block;
        color: $secondaryColor;
        font-size: $textSm;
        margin-bottom: 4px;
        &:hover{
            color: $thirdColor;
        }  
    }
}


.shake-left-right:hover{animation:shake-left-right 1.1s linear both} @keyframes shake-left-right{0%,100%{transform:rotate(0deg);transform-origin:50% 50%}10%{transform:rotate(8deg)}20%,40%,60%{transform:rotate(-10deg)}30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}90%{transform:rotate(8deg)}}
