/* inicio media queries */
@media (min-width:768px){

    footer{
        flex-direction: row;
    }
    #galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 400px);
        grid-template-areas:
        "fota fotc fotc"
        "fota fotd fotd"
        "fota fotb fote";
    }
}

@media (min-width:1200px){
    #galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 400px);
        grid-template-areas: 
        "fota fotb fotc fotc"
        "fota fotd fotd fote";
    }

}

/* end media queries */